


/* layout
--------------------------------------------- */
body {background:transparent url('/images/greyTexture.png') top left repeat; font-family:"Trebuchet MS", Helvetica, Verdana, sans;}
#container {width:950px; margin:60px auto;}
#sidebar {float:left; width:320px;}
#content {float:right; width:550px;}


/* fonts & sprites
--------------------------------------------- */
header nav,
.html5,
.css3 {font-family:"league-gothic-1","league-gothic-2";}

#title {font-family:"bello-pro-1","bello-pro-2";}

header nav a.active,
#github {background:transparent url('/images/sprite.png') top left no-repeat;}


/* header and menu
--------------------------------------------- */
header {width:100%; height:58px; margin:0 auto; background:transparent url('/images/blackGradient.png') top left repeat-x;}
header nav {width:550px; margin:0 auto; padding:0 0 0 385px;}
header nav a {display:inline-block; margin:3px 70px 0 0; color:#fff; font-size:36px; text-decoration:none; text-transform:uppercase;}
header nav a.active {background-position:0 0; padding:0 0 0 25px;}
header nav a:visited {color:#fff;}
header nav a:hover {color:#ed7624;}

#github {position:absolute; top:0; right:0; width:162px; height:121px; background-position:-440px 0;}




/* title
--------------------------------------------- */
#title {color:#333; font-size:72px; text-align:center;}
#title .html5 {color:#ed7624; font-size:170px; line-height:140px;}
#title .css3 {color:#00a9c7; font-size:142px; line-height:92px;}
#title i {font-size:92px; font-style:normal;}
#title em {display:block; font-size:24px; font-style:normal;}

/* table of contents
--------------------------------------------- */
