/*
***********************************************************

Title:      master.css

Author:     Jen Wilhelm
Created:    12/26/2010
Last modified:  01/13/2011

Orange:    #ed7624
Blue:      #00a9c7
Dark grey: #333
Grey:      #4a4a4a

***********************************************************/


/* layout & links
--------------------------------------------- */
body {background:transparent url('../images/greyTexture.png') top left repeat; font-family:"Trebuchet MS", Helvetica, Verdana, sans;}
#container {width:950px; margin:40px auto;}
#sidebar   {float:left; width:30%;}
#content   {float:right; width:63%; margin:0 0 30px 0;}

a,
a:active,
a:visited {color:#333;}
a:hover   {color:#ed7624;}

/* fonts & sprites
--------------------------------------------- */
header nav,
.html5,
.css3,
#toc #banner,
#toc nav,
#content header,
#content section h3 {font-family:"league-gothic-1","league-gothic-2";}

#title {font-family:"bistro-script-web-1","bistro-script-web-2";}

header nav a.active,
#toc nav ul li,
#github,
#toc #banner,
#content section pre span {background:transparent url('../images/sprite.png') top left no-repeat;}

/* header and menu
--------------------------------------------- */
header#menu {height:58px; margin:0 auto; background:transparent url('../images/blackGradient.png') top left repeat-x;}
header nav   {width:550px; margin:0 auto; padding:0 0 0 252px;}
header nav a {display:inline-block; margin:3px 70px 0 0; padding:0 0 0 25px; color:#fff; font-size:36px; text-decoration:none; text-transform:uppercase;}
header nav a:visited, header nav a:active {color:#fff;}
header nav a.active  {color:#ed7624; background-position:0 0;}
header nav a:hover   {color:#ed7624;}

#github {position:absolute; top:0; right:0; width:162px; height:121px; background-position:-440px 0;}

/* title
--------------------------------------------- */
#title {height:350px; margin:0 0 30px 0; color:#333; font-size:72px; text-shadow:2px 2px 3px #999;}
#title div    {position:relative; line-height:0;}
#title .html5 {line-height:135px; color:#ed7624; font-size:170px;}
#title .amp   {display:inline-block; top:15px; font-size:102px; font-style:normal;}
#title .css3  {display:inline-block; top:25px; color:#00a9c7; font-size:142px;}
#title .noobs {top:40px; left:20px; font-size:80px; font-style:italic;}
#title .other {top:55px; left:35px; font-size:28px; font-style:normal;}

/* table of contents
--------------------------------------------- */
#toc #banner {width:273px; height:44px; margin:0 0 30px 0; padding:8px 3px 0 0; background-position:0 -67px; color:#fff; font-size:26px; text-align:center;}

#toc nav    {font-weight:100;}
#toc nav h1 {color:#4a4a4a; font-size:42px; line-height:38px; font-weight:normal; text-transform:uppercase;}
#toc nav h2 {color:#ed7624; font-size:34px; line-height:28px; font-weight:normal;}
#toc nav ul {list-style-type:none; margin:10px 0 20px 20px;}
#toc nav ul li   {padding:0 0 0 15px; background-position:0 -37px;font-weight:normal;}
#toc nav ul li a {padding:8px 0; color:#4a4a4a; font-size:22px; font-weight:normal;text-decoration:none;}
#toc nav ul li a:hover,
#toc nav ul li a.active {color:#00a9c7;}

/* content
--------------------------------------------- */
#content {font-size:18px;}
#content header    {font-weight:normal;}
#content header h1 {color:#4a4a4a; font-size:78px; text-transform:uppercase; line-height:60px;}
#content header h2 {color:#ed7624; font-size:52px; line-height:52px;}

#content section h4 {display:block; margin:50px 0 0 0; font-size:20px; border-bottom:1px dashed #888;}
#content section     {margin:40px 0 0 0;}
#content section a   {font-weight:bold;}
#content section img {margin:0 20px 0 0;}
#content section h3  {color:#00a9c7; font-size:36px; font-weight:normal;}
#content section p   {margin:15px 0;}
#content section pre {position:relative; margin:15px 0 45px 30px; color:#333; background-color:#fff;  
     -moz-border-radius:4px; 
  -webkit-border-radius:4px; 
          border-radius:4px; 
}
#content section pre span {position:absolute; bottom:-33px; right:10px; width:40px; height:36px; background-position:right -124px;}
#content section ul {margin:0 0 20px 25px;}
#content section form {margin:0 0 0 30px;}
#content section form label {display:block; width:50px; white-space:nowrap;}

#content section .formattedList h1, 
#content section .formattedList h2, 
#content section .formattedList h3 {color:#888; font-size:18px; font-family:"Trebuchet MS", Helvetica, Verdana, sans;}

/* footer
--------------------------------------------- */
footer {clear:both; height:100px;
	background-color: #555;
	background-image: -moz-linear-gradient(top, #555, #1f1f1f); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #555),color-stop(1, #1f1f1f)); 
	background-image: linear-gradient(top, #555, #1f1f1f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#555', EndColorStr='#1f1f1f'); 
}
